#applicationForm {
   font-size: 1.6rem;
   font-weight: bolder;

   #errorBox {
      margin: 1rem;
      font-size: 3rem;

      #error {
         margin: 3rem;
      }
   }
}

#form {
   #formFooter {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      float: right;
      div{
         display: flex;
         margin: 0.5rem;
      }

   }
}
