.app-header{
   display: flex;
   justify-content: space-between;
}

.applicationDetail{
   display: flex;
   justify-content: center;
   color: rgb(133, 133, 133);
}

.cohort{
   min-width: 4.4cm;
}

#coverLetter{
   width: 100%;
   word-wrap: break-word;
   word-break: break-all;
   font-size: 1rem;
}