

   // #formFooterStaff{
   //    display: flex;
   //    justify-content: space-between;
   //    // flex-direction: row;
   //    // align-items: flex-end;
   //    // float: right;
   //    // div{
   //    //    display: flex;
   //    //    margin: 0.5rem;
      

   // }

   #StaffApplicationButton{
      margin-right: 15px;
   }