@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


#dashboard {
    margin: 1rem;

    #companyName {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.2rem;

    }
    

    #body {
        border: 1px groove rgba(123, 125, 126, 0.39);
        border-radius: 4px;
        
        #form {
            height: 80vh;
            overflow-y: scroll;
        }

        #viewJob {
            padding-top: 1.3rem;
            height: 80vh;
            overflow-y: scroll;
            
            #h2-header{
                color: lightslategrey;
            }

            .job-card{
                display: flex;
                padding-top: 2rem;
            // .job-body{
            //     z-index: 999;
            //     background-image: url(../website_photo/pending-red-stamp-text-white-51923368.png);
            //     background-size: 20%;
            //     background-repeat: no-repeat;
            //     background-position-x: right;
            //     background-position-y: bottom;
            // }

            }

        }
    }
}

#h2-header{
    color: rgb(82, 82, 82);
}