#create-job-header{
    padding: 20px;
    

    #create-job-h2{
        margin-left: 0.4cm;
        color: rgb(2, 93, 190)
       
    }

        .content{
         font-size: 1.1rem;
         color: rgb(78, 78, 78)
        }

        .submit{
            display: flex;
            justify-content: center;
            margin: 1rem;


            button{
                width: 15rem;
                margin-right: 2.5rem;
            }
            
    }
}