.create-company{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0.5cm;
    border: 1px groove rgba(123, 125, 126, 0.39);
    border-radius: 4px;
 

    .title{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;

        h2{
            margin-right: 2rem;
            margin-bottom: 1rem;
            font-size: 2.1rem;
        }

        .content{
         margin: 1rem;
         margin-top: 0.7cm;
         font-size: 1.3rem;

        

        }
        .submit{
            display: flex;
            justify-content: center;
            margin: 1rem;
            button{
                margin-top: 0.5cm;
                width: 15rem;
            }

        }

    }
}