#pdf{
    display: flex;
    justify-content: center;
    align-items: center;

    #body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .render{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}