.selectedStudents {
   display: flex;
   flex-direction: row;
   // justify-content: center;
   align-items: center;
   text-align: justify;
   margin-bottom: 1.9rem;
   margin-top: 0;   


   div{
      // margin-left: 1rem;

      button{
         margin-bottom: 0.7rem;
         margin-left: 1rem;
      }
   }
}
#table{
   margin-top: 2rem;
//   height: 70vh !important;
 overflow-y: scroll;
}

// .selectedStudentTable{

// }

#applyApplicationButton{
   margin-right: 15px;
}