@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
#peopleName
{
   font-family: 'Indie Flower', cursive;
   font-size: 2rem;
   margin-left: 0.5rem;
}

#jobNews {
   border: whitesmoke 1px solid;
   width: 100%;

   #header {
      display: flex;
      justify-content: space-between;
      margin: 1rem 1rem 3rem 1rem;
   }

   #body {
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

  #cardBox{
     display: flex;
     flex-wrap: wrap;
     justify-content: right;
   .card {
      border-radius: 15px;
      box-shadow: rgb(193, 185, 185) -5px 2px 15px 1px;
      // position: relative;
      min-width: 22rem;
      max-width: 22rem;
      margin: 0.5rem;
      min-height: 100%;
      .text-muted{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }

      

   }
   .card:hover {
      z-index:9;
      background-color: whitesmoke;
      opacity: 1;
   }
  }

 
}

#chartBody{
   // display: flex;
   // flex-direction: column;


   div{
      margin-top: 1rem;
   }
}
