@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Quicksand:wght@300&display=swap");

// .gitlab-button{
//     margin-top: 3cm;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: relative;

//     #logo{
//     position: absolute;
//        top: -7rem;
//        left: -0.1rem;

//     }
//      .jobportal-title{
//         color: #3e4745;
//         //  margin-top: 3cm;
//         // //  font-family: 'Source Sans Pro',sans-serif;;
//         //  font-size: 37px;
//         //  font-weight: bold;
//         //  text-transform: uppercase;

//          font-family: 'Indie Flower', cursive;
//          font-size: 7rem;
//          text-align: center;
//          margin-top: 4rem;

//      }

//     .gitlab-box{
//         text-align: center;
//         width: 9cm;
//         height: 3cm;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//     .gitlab-link {
//         font-family: 'Source Sans Pro',sans-serif;;
//         font-size: 18px;
//         font-weight: bold;
//         text-transform: uppercase;

//         .app-link{
//             color: #0D4A87;
//         }
//     }
//     }
// }


.gitlab-button {
    margin-top: 3cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    #logo {
        position: absolute;
        top: -7rem;
        left: -0.1rem;
    }
    .jobportal-title {
        color: #3e4745;
        font-size: 5rem;
        text-align: center;
        margin-top: 4rem;
    }

    .gitlab-box {
        text-align: start;
        padding: 1rem;
        min-width: 25%;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: solid 1px black;

        #loginForm {
            display: flex;
            flex-direction: column;

            #loginSubmit,
            #register,
            #loginGitlabBtn {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
            }
        }
    }
}
