#JobInfo {
   display: flex;
   flex-direction: column;
   width: 100%;
   z-index: 1;

   #search {
      margin: 1rem;
   }

   // #body {

   // }

   #content {
      display: flex;
      flex-direction: column;
   }

   #view {
      display: flex;
      flex-direction: column;
   }
}
