#JobList {
   overflow-y: scroll;
   z-index: 2;
   height: 70vh;
   
   #cardList {
      display: flex;
      flex-direction: column;
   }

   .archived{
      background-image: url(../website_photo/archived.png);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
   }

   .card:hover {
      z-index:9;
      background-color: whitesmoke;
      opacity: 1;
   }
   .card {
      cursor: pointer;
   }
}


#Listing{
   div{
      margin-top: 0.5rem;
   }
}
