#jobView {
   display: flex;
   flex-direction: column;
   height: 70vh;
   overflow-y: scroll;


   #body {
      display: flex;
      flex-direction: column;
      // justify-content: start;
      // align-items: flex-start;
      width: 90%;
      height: 80%;
      color: black;
   }

   #jobInfo div {
      margin-bottom: 1rem;

   }

   #jobHighlight #title {
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 1rem;
   }

   #jobTitle {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 1rem;

   }

   #companyName{
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color:rgb(129, 129, 129) ;

   }
}


#jobViewEmpty{
   display: flex;
   flex-direction: column;
   height: 85vh;
   overflow-y: scroll;
   text-align: center;
   justify-content: center;
}
