
span.navbar-brand {
   margin-left: -20px;
}

#navbar {
   padding: 0.5rem;
   margin: 0rem;
   width: 100vw;
   position: fixed;
   z-index: 11;
   padding-left: 0px;
   #header {
      display: flex;
      text-align: center;
   }
   #icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.6rem;
   }

   #logout {
      font-size: 1.2rem;
      // padding: 1rem;
   }
   #logout-company {
      font-size: 1.2rem;
   }
}

img{
   transform:scale(0.7)
}

.mr-auto{
   font-size: 16px;
}
