.profile{
    display: flex;
    flex-direction: column;

    .profileTable{
        text-align: center;
        align-items: center;
        
        th{
            font-size: 1rem;
        }
        td{
            font-size: 1rem;
        }
       
    }

    .myProfile{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;

        h2{
            margin-right: 2rem;
            margin-bottom: 1rem;
            font-size: 2.1rem;
        }

        .info{
         margin: 1rem;
         font-size: 1rem;
        }
        .submit{
            display: flex;
            justify-content: center;
            margin: 1rem;
            button{
                width: 15rem;
            }

        }

        #remark {
            font-size: small;
            color: rgb(105, 105, 105);
        }

    }


    .coverLetter{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        

        h2{
            margin-right: 2rem;
            margin-bottom: 1rem;
            font-size: 2.1rem;
        }

        .info{
         margin: 1rem;
         font-size: 1.3rem;
        }
        .submit{
            display: flex;
            justify-content: center;
            margin: 1rem;
            button{
                width: 15rem;
            }

        }

    }




}

#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}