#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 95vh;
    padding: 3rem;
    
    #loginBox{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        max-width: 80vw;
        #logo{
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 0.5rem;
        }

        button{
            width: 100%;
            margin-top: 1rem;
        }
    }
 
    }

    


