.sidebar {
  height: 100vh;
  text-align: start;
  background: whitesmoke;
  padding: 0px;
  position: fixed;
  z-index: 10;

  #header {
    padding: 10px;
    font-size: 1rem;
    margin-top: 3rem;
  }

  #title,
  #profile,
  #advanced {
    color: black;
  }

  #job {
    color: black !important;
    padding: 15px 20px !important;
    font-size: 1rem !important;
  }

  #apply,
  #history {
    color: black;
    font-size: 1rem;
    font-weight: 100;
    margin-right: 8rem;
  }
}
