.staff-sl-table{
   // min-width: 55rem;
   // min-width: 80rem;


   thead
   {
      th {
         font-weight: normal
      }
   }

   select {
      border: none;
      font-weight: bold;

   
   }
}
