#studentListForApplication {
   overflow-y: scroll;
   z-index: 2;
   height: 70vh !important;
   max-width: 35vw;
   #StudentTable{
      margin-top:1rem ;       

   }}
   
thead >tr>th>select {
   border: none;
   font-weight: bold;
   color: rgb(96, 140, 200);
   cursor: pointer;
}


th {
   font-weight: normal;
}



.StudentHeader {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: justify;
   margin-bottom: 1.9rem;
   margin-top: 0;

   div{
      margin-left: 1rem;

      button{
         margin-bottom: 0.7rem;
         margin-left: 1rem;

      }
   }
}