#upload {
    display: flex;
    flex-direction: column;

    div {
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        button {
            text-align: center;
        }
    }
}
